[submodule "core"]
	path = core
	url = git@github.com:danaivach/hmas-core.git
[submodule "interaction"]
	path = interaction
	url = git@github.com:danaivach/hmas-interaction.git
[submodule "bindings"]
	path = bindings
	url = git@github.com:danaivach/hmas-bindings.git
